<h3>Update wine Details</h3>
  <%= form_with model: @wine do |form| %>
  <%= form.text_field :name, value: @wine.name %>
  <%= form.text_field :color, value: @wine.color %>
  <%= form.text_field :year, value: @wine.year %>
  <%= form.text_field :country, value: @wine.country %>
  <%= form.text_field :review, value: @wine.review %>

  <%= form.submit %>
<% end %>
