<h3>Create a wine</h3>
<%= form_with model: @wine do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :color, placeholder: "color" %>
  <%= form.text_field :year, placeholder: "year" %>
  <%= form.text_field :country, placeholder: "country" %>
  <%= form.text_field :review, placeholder: "review" %>

  <%= form.submit %>
<% end %>
