<h1> <%= @wine.name %> </h1>
<p> <%= @wine.color %> </p>
<p> <%= @wine.year %> </p>
<p> <%= @wine.country %> </p>
<p> <%= @wine.review %> </p>
<%= link_to 'Remove', @dog, method: :delete, data: { confirm: 'Are you sure?' } %>
