<h1> <%= @wine.name %> </h1>
<p> <%= @wine.color %> </p>
<p> <%= @wine.year %> </p>
<p> <%= @wine.country %> </p>
<p> <%= @wine.review %> </p>
<%= button_to 'Edit', edit_wine_path(@wine), method: 'get'%>
<%= link_to 'Remove', @wine, method: :delete, data: { confirm: 'Are you sure?' } %>
